body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.main-cabecera {
    border: 2px solid blue;
    background-color: aquamarine;
    font-weight: bold;
}

.main-textos {
    color: brown;
}